@font-face {
	font-family: 'LG Smart';
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/LGSmartRegular.woff) format('woff'),
	url(../../fonts/LGSmartRegular.eot) format('eot'),
	url(../../fonts/LGSmartRegular.ttf) format('truetype');
}

@font-face {
	font-family: 'LG Smart';
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/LGSmartSemiBold.woff) format('woff'),
	url(../../fonts/LGSmartSemiBold.eot) format('eot'),
	url(../../fonts/LGSmartSemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'LG Smart';
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/LGSmartBold.woff) format('woff'),
	url(../../fonts/LGSmartBold.eot) format('eot'),
	url(../../fonts/LGSmartBold.ttf) format('truetype');
}
