@font-face {
	font-family: 'Gordita';
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/Gordita_Regular.woff) format('woff');
}

@font-face {
	font-family: 'Gordita';
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/Gordita_Medium.woff) format('woff');
}

@font-face {
	font-family: 'Gordita';
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/Gordita_Bold.woff) format('woff');
}
