@charset "UTF-8";
#cookieAllPc {
    width:100%; height:50px; min-width:1280px; position:absolute; top:0; left:0; z-index:500; overflow:hidden;
    .change_wrap {width:100%; height:50px; background-color:$gray5; text-align:center; position:absolute; top:0; z-index:1; overflow:hidden;}
    &.cookie_open {
        position:fixed;
        .cookie_top,
        .cookie_bottom {display:block;}
    }
    #cookieChange {
        display:inline-block; position:relative; padding:0 40px 0 20px; line-height:50px; color:$gray2; font-weight:$bold;
        &:after {
            width:0; height:0; display:block; content:""; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom-style:solid; border-bottom-width:8px; border-bottom-color:$gray2;
            position:absolute; right:20px; top:22px;
            @include transition;
            @include rotate(180);
        }
    }
    .cookie_top {
        background-color:#ebeced; padding:0 50px; position:relative; display:none; z-index:100;
        .top_box {
            width:1280px; padding:25px 0; margin:0 auto;
            @extend %clearfix;
            p {
                width:50%; float:left; font-size:16px; line-height:20px;
                a {text-decoration:underline;}
            }
            .accept_wrap {
                float:right; padding:8px 0 0;
                @extend %clearfix;
                button {
                    height:44px; float:left; font-weight:700;
                    @include borderRadius(5px);
                    &#allAgreeBtn {background-color:$red; padding:0 24px; color:$white;}
                    &#detailOpenBtn {
                        padding:0 44px 0 24px; color:$white; position:relative; background-color:$red; margin:0 0 0 12px;
                        @include borderSet(1px, solid, $red);
                        @include boxSizing;
                        @include transition;
                        &:after {
                            width:0; height:0; display:block; content:""; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom-style:solid; border-bottom-width:8px; border-bottom-color:$white;
                            position:absolute; right:22px; top:18px;
                            @include transition;
                            @include rotate(180);
                        }
                        &.active {
                            background-color:$white; color:$gray1; border-color:$white;
                            &:after {
                                border-bottom-color:$gray1;
                                @include rotate(0);
                            }
                            &:hover {border-color:$red;}
                        }
                    }
                }
            }
        }
    }
    .cookie_bottom {
        width:100%; background-color:$white; position:absolute; z-index:10; display:none;
        .bottom_box {
            width:1280px; margin:0 auto; position:relative; padding:0 0 85px;
            p {line-height:20px; font-size:16px; padding:25px 0; border-bottom:1px solid $gray4;}
            ol {
                padding:20px 0 0;
                @extend %clearfix;
            }
            li {
                width:280px; float:left; margin:0 0 0 40px; position:relative;
                &:first-child {margin:0;}
            }
            dl {
                dt {
                    font-size:22px; font-weight:700; height:44px; display:table;
                    span {display:table-cell; vertical-align:middle;}
                }
                dd {padding:20px 0 0; font-size:16px; line-height:20px;}
            }
            .check_wrap {
                position:absolute; top:9px; right:0;
                input[type=checkbox] {
                    position:absolute; left:-9999px;
                    &:checked ~ label {
                        background-color:$red;
                        &:after {@include translate(16px, 0);}
                    }
                }
                label {
                    width:44px; height:28px; display:block; text-indent:-9999px; background-color:$gray3;
                    @include borderRadius(14px);
                    @include transition(background-color, .3s);
                    &:after {
                        width:22px; height:22px; display:block; content:""; position:absolute; left:3px; top:3px; background-color:$white;
                        @include transition(transform, .3s);
                        @include borderRadius(100%);
                    }
                    &:hover {background-color:$red;}
                }
            }
        }
        #cookieSave {
            height:44px; padding:0 24px; background-color:$red; position:absolute; bottom:20px; right:0; color:$white; font-weight:700;
            @include borderRadius(5px);
        }
    }
    #cookieClose {
        width:40px; height:40px; position:absolute; top:35px; right:120px; background-color:#adaeaf; text-indent:-9999px;
        @include borderRadius(100%);
        @include rotate(45);
        @include transition(background-color, .2s);
        &:before,
        &:after {width:1px; height:19px; display:block; content:""; position:absolute; top:11px; left:20px; background-color:$white;}
        &:after {@include rotate(90);}
        &:hover {background-color:$red;}
    }
}

/* layout */
/* header */
#header {
    width:100%; height:60px; min-width:1280px; background-color:$black; position:absolute; top:50px; z-index:200; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#5a595e;
    @include boxSizing;
    @include transition(background-color, .2s);
    &.fixed {
        top:0; position:fixed;
    }
    .header_wrap {
        position:relative; text-align:center;
        #logo {
            padding:18px 0 0; position:relative;
            a {
                width:206px; height:26px; display:inline-block; background-image:url(../../images/layout/logo.png); text-indent:-9999px;
                @include backgroundSolt;
                @include transition(background-image, .3s);
            }
        }
        #allNav {
            &.nav_open {
                button {
                    border-right-color:$white;
                    i {
                        &:before {
                            background-color:$gray1; top:3px;
                            @include rotate(45);
                        }
                        &:after {
                            background-color:$gray1; top:3px;
                            @include rotate(-45);
                        }
                    }
                    &:hover {
                        color:$white;
                        i {
                            &:before,
                            &:after {background-color:$black;}
                        }
                    }
                }
            }
            button {
                height:59px; position:absolute; top:0; left:0; padding:0 30px; z-index:30; color:$white; font-size:15px; font-weight:$bold;
                border-right-width:1px; border-right-style:solid; border-right-color:#5a595e;
                @include transition;
                i {
                    width:15px; height:8px; position:absolute; display:block; top:26px;
                    &:before,
                    &:after {
                        width:100%; height:2px; display:block; content:""; background-color:$white; position:absolute; left:0;
                        @include transition;
                    }
                    &:before {top:0;}
                    &:after {bottom:0;}
                }
                span {padding:0 0 0 30px; display:block;}
                &:hover {
                    background-color:$white; color:$black;
                    i {
                        &:before,
                        &:after {background-color:$black;}
                    }
                }
            }
            nav {
                width:50%; height:100%; position:fixed; background-color:$white; left:0; top:0; display:table; text-align:center; z-index:20;
                @include translate(-100%, 0);
                h2 {text-indent:-9999px;}
                .wrap {
                    width:100%; height:85%;
                    ul {
                        position:relative; top:50%; transform:translate(0,-50%);
                        &:after {content:""; display:block; clear:both;}
                        li {
                            height:63px; line-height:60px;
                            &:first-child {padding:0;}
                        }
                        a {
                            position:relative; color:#646668; font-size:34px; font-weight:$light; letter-spacing:1px;
                            @include transition(all, .1s);
                            &:hover {font-weight:$bold; color:$black;}
                        }
                    }
                }
            }
            .link_box {
                height:15%; clear:both; text-align:center; position:relative;
                ul {
                    display:inline-block; color:#646668;
                    &:after {content:""; display:block; clear:both;}
                    li {
                        width:155px; float:left; position:relative;
                        &:before {content:""; display:block; width:1px; height:16px; background-color:$gray4; position:absolute; left:5px; top:3px;}
                        &:first-child {
                            &:before {display:none;}
                        }
                        a {font-size:22px;}
                        a:hover {font-weight:$bold;}
                    }
                }
                p {font-size:12px; position:absolute; left:50%; transform:translate(-50%,0); bottom:40px; text-align:center; color:#646668;}
            }
            #navDimmed {z-index:10;}
        }
    }
    .header_buy {
        height:59px; line-height:59px; position:absolute; top:0; right:0; z-index:1; font-weight:700; font-size:15px; color:$white; letter-spacing:1.2px;
        border-left-width:1px; border-left-style:solid; border-left-color:#5a595e; padding:0 37px 0 73px; background-image:url(../../images/layout/header_buy.png);
        @include backgroundSolt(37px, 50%);
        @include transition;
        &:hover,
        &:focus {
            background-color:$white; color:$black; background-image:url(../../images/layout/header_buy_black.png);
        }
    }
}

//footer
#footer {
    padding:20px 120px; position:relative; font-weight:$regular; font-size:12px; background-color:#242526; color:$white;
    .footer_wrap {height:30px; line-height:30px;}
    p.copyright {float:left; margin:0 0 0 18px;}
    .etc_link {
        float:left; position:relative; z-index:1;
        @extend %clearfix;
        li {
            float:left; margin:0 0 0 40px; position:relative;
            &:first-child {
                margin:0;
                &:before {display:none;}
            }
            &:before {width:1px; height:8px; display:block; content:""; position:absolute; top:11px; left:-20px; background-color:$white;}
        }
        a {
            position:relative; color:$white;
            &:after {
                width:100%; height:1px; display:block; content:""; position:absolute; left:0; bottom:-1px; background-color:$white;
                @include scaleX(0);
                @include transition(transform, .2s);
            }
            &:hover:after {@include scaleX(1)}
        }
    }
    .share_wrap {
        float:right; position:relative; z-index:1;
        @extend %clearfix;
        ol {
            float:left; text-indent:-9999px;
            @extend %clearfix;
        }
        li {
            padding:0 0 0 15px; float:left;
            &:nth-of-type(1) a {
                background-image:url(../../images/layout/face_icon_white.png);
                &:hover {background-image:url(../../images/layout/face_icon_black.png);}
            }
            &:nth-of-type(2) a {
                background-image:url(../../images/layout/twitter_icon_white.png);
                &:hover {background-image:url(../../images/layout/twitter_icon_black.png);}
            }
            &:nth-of-type(3) a {
                background-image:url(../../images/layout/youtube_icon_white.png);
                &:hover {background-image:url(../../images/layout/youtube_icon_black.png);}
            }
        }
        a {
            width:28px; height:28px; display:block;
            @include backgroundSolt;
            @include borderSet(1px, solid, $white);
            @include borderRadius(29px);
            @include transition;
            &:hover,
            &:focus {background-color:$white; border-color:$white;}
        }
    }
}



















