@charset "UTF-8";
#cookieAllPc {
    width:100%; height:50px; min-width:1280px; position:absolute; top:0; left:0; z-index:500; overflow:hidden; font-weight:500;
    .change_wrap {width:100%; height:50px; background-color:$gray5; text-align:center; position:absolute; top:0; z-index:1; overflow:hidden;}
    &.cookie_open {
        position:fixed;
        .cookie_top,
        .cookie_bottom {display:block;}
    }
    #cookieChange {
        display:inline-block; position:relative; padding:0 40px 0 20px; line-height:50px; color:$gray2; font-weight:$medium; font-size:16px;
        &:after {
            width:0; height:0; display:block; content:""; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom-style:solid; border-bottom-width:8px; border-bottom-color:$gray2;
            position:absolute; right:20px; top:22px;
            @include transition;
            @include rotate(180);
        }
    }
    .cookie_top {
        background-color:#ebeced; padding:0 50px; position:relative; display:none; z-index:100;
        .top_box {
            width:1280px; padding:25px 0; margin:0 auto;
            @extend %clearfix;
            p {
                width:50%; float:left; font-size:13px; line-height:20px;
                a {text-decoration:underline;}
            }
            .accept_wrap {
                float:right; padding:8px 0 0;
                @extend %clearfix;
                button {
                    height:44px; float:left; font-weight:600; font-size:16px; background-color:$red; padding:0 24px; color:$white;
                    @include borderSet(2px, solid, $red);
                    @include borderRadius(5px);
                    @include transition;
                    &:hover {color:$red; background-color:$white;}
                }
            }
        }
    }
    .cookie_bottom {
        width:100%; background-color:$white; position:absolute; z-index:10; display:none;
        .bottom_box {
            width:1280px; margin:0 auto; position:relative; padding:0 0 85px;
            p {line-height:20px; font-size:14px; padding:25px 0; border-bottom:1px solid $gray4;}
            ol {
                padding:20px 0 0;
                @extend %clearfix;
            }
            li {
                width:280px; float:left; margin:0 0 0 40px; position:relative;
                &:first-child {margin:0;}
            }
            dl {
                dt {
                    font-size:20px; font-weight:600; height:44px; display:table;
                    span {display:table-cell; vertical-align:middle;}
                }
                dd {padding:20px 0 0; font-size:14px; line-height:20px;}
            }
            .check_wrap {
                position:absolute; top:9px; right:0;
                input[type=checkbox] {
                    position:absolute; left:-9999px;
                    &:checked ~ label {
                        background-color:$red;
                        &:after {@include translate(16px, 0);}
                    }
                }
                label {
                    width:44px; height:28px; display:block; text-indent:-9999px; background-color:$gray3;
                    @include borderRadius(14px);
                    @include transition(background-color, .3s);
                    &:after {
                        width:22px; height:22px; display:block; content:""; position:absolute; left:3px; top:3px; background-color:$white;
                        @include transition(transform, .3s);
                        @include borderRadius(100%);
                    }
                    &:hover {background-color:$red;}
                }
            }
        }
        #cookieSave {
            height:44px; padding:0 24px; background-color:$red; position:absolute; bottom:20px; right:0; color:$white; font-weight:$medium;
            @include borderRadius(5px);
        }
    }
    #cookieClose {
        width:40px; height:40px; position:absolute; top:35px; right:120px; background-color:#adaeaf; text-indent:-9999px;
        @include borderRadius(100%);
        @include rotate(45);
        @include transition(background-color, .2s);
        &:before,
        &:after {width:1px; height:19px; display:block; content:""; position:absolute; top:11px; left:20px; background-color:$white;}
        &:after {@include rotate(90);}
        &:hover {background-color:$red;}
    }
}

/* layout */
/* header */
#header {
    width:100%; height:60px; min-width:1280px; background-color:$black; position:absolute; top:50px; z-index:200; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#5a595e;
    @include boxSizing;
    @include transition(background-color, .2s);
    &.fixed {top:0; position:fixed;}
    .header_wrap {
        position:relative; text-align:center;
        #logo {
            padding:18px 0 0; position:relative;
            a {
                width:206px; height:26px; display:inline-block; background-image:url(../../images/layout/logo.png); text-indent:-9999px;
                @include backgroundSolt;
                @include transition(background-image, .3s);
            }
        }
        #allNav {
            &.nav_open {
                button {
                    border-right-color:$white;
                    i {
                        width:20px;
                        &:before {
                            background-color:$gray1; top:3px;
                            @include rotate(45);
                        }
                        &:after {
                            background-color:$gray1; top:3px;
                            @include rotate(-45);
                        }
                    }
                    &:hover {
                        color:$white;
                        i {
                            &:before,
                            &:after {background-color:$black;}
                        }
                    }
                }
            }
            button {
                height:59px; position:absolute; top:0; left:0; padding:0 30px; z-index:30; color:$white; font-size:12px; font-weight:$bold;
                border-right-width:1px; border-right-style:solid; border-right-color:#5a595e;
                @include transition;
                i {
                    width:15px; height:8px; position:absolute; display:block; top:26px;
                    &:before,
                    &:after {
                        width:100%; height:2px; display:block; content:""; background-color:$white; position:absolute; left:0;
                        @include transition;
                    }
                    &:before {top:0;}
                    &:after {bottom:0;}
                }
                span {padding:0 0 0 30px; display:block;}
                &:hover {
                    background-color:$white; color:$black;
                    i {
                        &:before,
                        &:after {background-color:$black;}
                    }
                }
            }
            nav {
                width:640px; height:100%; position:fixed; background-color:$white; left:0; top:0; z-index:20;
                @include translate(-100%, 0);
                h2 {text-indent:-9999px;}
                .gnb_wrap {
                    width:100%; text-align:left; padding:0 0 0 em(125);
                    @include boxSizing;
                    ul {
                        margin:em(210) 0 0;
                        li {
                            padding:45px 0 0;
                            &:first-child {padding:0;}
                        }
                        a {
                            position:relative; color:$gray1; font-size:26px; font-weight:$medium; letter-spacing:-1.5px;
                            &:hover span {color:$gray1;}
                            span {
                                color:#848586; display:inline-block; padding:0 0 0 30px; position:relative; font-size:24px;
                                @include transition(color, .2s);
                                &:before {width:1px; height:18px; display:block; content:""; background-color:#848586; position:absolute; left:15px; top:4px;}
                            }
                        }
                    }
                    p {padding:40px 0 0; font-size:26px; font-weight:$medium;}
                }
            }
            .shop_now {
                width:100%; position:absolute; bottom:0;
                a {
                    width:100%; height:70px; display:block; font-size:14px; border-top:1px solid #ddd; line-height:70px;
                    @include transition;
                    &:hover,
                    &:focus {color:$white; background-color:$black;}
                    span {
                        display:inline-block; padding:0 20px 0 0; position:relative;
                        &:before {
                            width:8px; height:8px; display:block; content:""; position:absolute; top:30px; right:0; border-bottom:2px solid $red; border-right:2px solid $red;
                            @include rotate(-45);
                            @include borderRadius(1px);
                        }
                    }
                }
            }
            #navDimmed {z-index:10;}
        }
    }
    #buyNav {
        #buyNavBtn {
            height:59px; line-height:59px; position:absolute; top:0; right:0; z-index:30; font-weight:700; font-size:12px; color:$white; letter-spacing:1.2px;
            border-left-width:1px; border-left-style:solid; border-left-color:#5a595e; padding:0 37px 0 73px; background-image:url(../../images/layout/header_buy.png);
            @include backgroundSolt(37px, 50%);
            @include transition;
            &:hover {background-color:$white; color:$black; background-image:url(../../images/layout/header_buy_black.png);}
            i {
                width:20px; height:20px; position:absolute; display:block; top:26px; right:40px;
                &:before,
                &:after {
                    width:100%; height:2px; display:block; content:""; background-color:transparent; position:absolute; left:0;
                    @include transition;
                }
                &:before {top:0;}
                &:after {bottom:0;}
            }
            &:hover {background-color:$white; color:$black;}
        }
        &.nav_open {
            #buyNavBtn {
                border-left-color:$white; background-image:url(../../images/layout/header_buy.png);
                &:hover {color:$white;}
                i {
                    &:before {
                        background-color:$gray1; top:3px;
                        @include rotate(45);
                    }
                    &:after {
                        background-color:$gray1; top:3px;
                        @include rotate(-45);
                    }
                }
            }
        }
        nav {
            width:640px; height:100%; position:fixed; background-color:$white; right:0; top:0; z-index:20;
            @include translate(100%, 0);
            h2 {text-indent:-9999px;}
            .buy_wrap {
                width:100%; text-align:left; padding:0 em(80);
                @include boxSizing;
                ol {
                    margin:em(210) 0 0;
                    > li {
                        padding:45px em(30) 0; margin:45px 0 0; border-top:1px solid $gray4;
                        &:first-child {padding:0 em(30); border-top:0;}
                        p {
                            position:relative; color:$gray1; font-size:26px; font-weight:$medium; letter-spacing:-1.5px;
                            span {
                                color:#848586; display:inline-block; padding:0 0 0 30px; position:relative; font-size:24px;
                                @include transition(color, .2s);
                                &:before {width:1px; height:18px; display:block; content:""; background-color:#848586; position:absolute; left:15px; top:4px;}
                            }
                        }
                    }
                }
                ul {
                    font-size:16px; font-weight:$regular; margin:35px 0 0;
                    @extend %clearfix;
                    li {
                        float:left; margin:0 0 0 30px;
                        &:first-child {margin:0;}
                    }
                    a {
                        color:#949596; display:block; position:relative; padding:0 0 3px;
                        @include transition(color, .2s);
                        &:after {
                            width:100%; height:1px; display:block; content:""; position:absolute; bottom:0; left:0; background-color:#444546;
                            @include scaleX(0);
                            @include transition(transform, .2s);
                        }
                        &:hover {
                            color:#444546;
                            &:after {@include scaleX(1);}
                        }
                    }
                }
            }
        }
    }
}

//footer
#footer {
    padding:20px 120px; position:relative; font-weight:$regular; font-size:12px; background-color:#242526; color:$white; z-index:500;
    .footer_wrap {height:30px; line-height:30px;}
    p.copyright {float:left; margin:0 0 0 18px;}
    .etc_link {
        float:left; position:relative; z-index:1;
        @extend %clearfix;
        li {
            float:left; margin:0 0 0 40px; position:relative;
            &:first-child {
                margin:0;
                &:before {display:none;}
            }
            &:before {width:1px; height:8px; display:block; content:""; position:absolute; top:11px; left:-20px; background-color:$white;}
        }
        a {
            position:relative; color:$white;
            &:after {
                width:100%; height:1px; display:block; content:""; position:absolute; left:0; bottom:-1px; background-color:$white;
                @include scaleX(0);
                @include transition(transform, .2s);
            }
            &:hover:after {@include scaleX(1)}
        }
    }
    .share_wrap {
        float:right; position:relative; z-index:1;
        @extend %clearfix;
        ol {
            float:left; text-indent:-9999px;
            @extend %clearfix;
        }
        li {
            padding:0 0 0 15px; float:left;
            &:nth-of-type(1) a {
                background-image:url(../../images/layout/face_icon_white.png);
                &:hover {background-image:url(../../images/layout/face_icon_black.png);}
            }
            &:nth-of-type(2) a {
                background-image:url(../../images/layout/twitter_icon_white.png);
                &:hover {background-image:url(../../images/layout/twitter_icon_black.png);}
            }
            &:nth-of-type(3) a {
                background-image:url(../../images/layout/youtube_icon_white.png);
                &:hover {background-image:url(../../images/layout/youtube_icon_black.png);}
            }
        }
        a {
            width:28px; height:28px; display:block;
            @include backgroundSolt;
            @include borderSet(1px, solid, $white);
            @include borderRadius(29px);
            @include transition;
            &:hover,
            &:focus {background-color:$white; border-color:$white;}
        }
    }
}



















