@charset "UTF-8";

body {overflow:hidden; padding:0 17px 0 0;}
/* main */
#meridianTitle {
    width:100%; height:calc(100vh - 50px); background-color:$black; position:fixed; top:50px; text-align:center; z-index:100;
    p, img {
        position:absolute; left:50%; top:50%;
        @include translate(-50%, -50%);
    }
    p {width:100%; font-size:em(80); font-weight:$bold; color:#c5d0d8; letter-spacing:em(15);}
    img {
        @include opacity(0);
    }
}

//pl scene
#scenePl {
    width:100%; height:calc(100vh - 60px); position:relative; overflow:hidden; top:60px; background-color:$black;
    .scene_wrap {height:100%; position:relative;}
    .pl_img {
        width:100%;
        img {
            width:100%; position:absolute; top:50%; left:50%; z-index:30;
            @include translate(-50%, -50%);
            @include opacity(0);
            &:first-child {@include opacity(.6);}
            &.pl_img03 {z-index:60;}
        }
    }
    .pl_bg {
        width:100%; position:absolute; top:50%; left:50%; z-index:50;
        @include transform(translate(-50%, -50%) scale(1.5));
        @include opacity(0);
    }
    .pl_txt {
        color:$white; font-size:em(160); text-align:center; font-weight:$bold;
        p {
            width:100%; position:absolute; top:50%; left:0; z-index:70;
            @include translate(0, -50%);
            @include opacity(0);
        }
    }
    .link_wrap {
        width:100%; position:absolute; bottom:10%; text-align:center; z-index:100; font-size:20px; font-weight:$bold; display:none;
        @include opacity(0);
        ol {
            display:inline-block;
            @extend %clearfix;
        }
        li {float:left; margin:0 5px;}
        a {
            width:230px; height:70px; color:$white; display:block; line-height:64px;
            @include boxSizing;
            @include borderSet(3px, solid, $white);
            @include transition;
            @include borderRadius(35px);
            &:focus,
            &:hover {background-color:$white; color:$black;}
        } 
    }
}

