@charset "UTF-8";

@import "./_common/base";
@import "./layout";
@import "./main";
@import "./cinema";
@import "./gaming";
@import "./sports";
@import "./life";
@import "./core";
@import "./lineup";
@import "./gx";

/* common css */

//기본 스타일
input[type=text],
textarea,
select {
    outline:none;
    @include transition(border-color, .2s);
    &:focus { border-color:$gray2 !important;}
}
::selection { background:$gray2; color:$white; text-shadow:none; }
::-moz-selection { background:$gray2; color:$white; text-shadow:none; }
img { vertical-align:top; image-rendering:-webkit-optimize-contrast;}
caption { width:1px; height:1px; overflow:hidden; margin:-1px;}

.dimmed {
    width:100%; height:100%; position:fixed; background-color:$black; display:none; top:0; left:0;
    @include opacity(0);
}

//hidden text
.hidden-txt,
legend {width:0; height:0; overflow:hidden; display:inline-block; text-indent:-9999px; line-height:1px; position:absolute;}

#wrap {
    min-width:1280px; padding:50px 0 em(72); position:relative;
    &.main_footer_none {
        padding:50px 0 0;
        #footerLink {display:none;}
    }
}

//서브 비쥬얼
#subVisual {
    height:em(820); position:relative; padding:50px 0 0;
    @include backgroundSoltC(50%, 0);
}

//비쥬얼 마우스 포인터
#discoverBtn {
    padding:40px 0 0; position:absolute; bottom:-40px; left:50%; color:$white; text-shadow:0 0 15px $black; font-size:16px; font-weight:$semibold; letter-spacing:3px;
    @include translate(-50%, 0);
    &:hover,
    &:focus {
        &:before {@include translate(0, 15px)}
        &:after {@include translate(0, 5px)}
    }
    &:before,
    &:after {
        display:block; content:""; position:absolute;
        @include transition;
    }
    &:before {
        width:2px; height:0; background-color:$white; top:-45px; left:50%; margin:0 0 0 -1px;
        @include opacity(0);
        @include animation(discoverBar 2s ease infinite);
    }
    &:after {
        width:16px; height:28px; background-image:url(../../images/common/scroll_icon.png); top:0; left:50%; margin:0 0 0 -8px;
        @include backgroundSolt(0, 0);
    }
    &.gray_scroll {
        color:$gray2; text-shadow:none;
        &:before {background-color:$gray2;}
        &:after {background-image:url(../../images/common/scroll_icon_gray.png);}
    }
}
@include keyframes(discoverBar) {
    from {height:0;}
    to {
        height:30px;
        @include opacity(1);
    }
}

//서브 타이틀
.step_title {
    strong {font-size:120px; font-weight:$regular; font-family:$dinbol;}
    h1 {font-size:80px; letter-spacing:2.2px}
    p {
        font-size:22px; line-height:30px; font-weight:$regular; color:$gray2; padding:30px 0 0; letter-spacing:.2px;
        span {display:block; padding:10px 0 0;}
    }
    .link_box {
        padding:50px 0 0;
        a {
            display:inline-block; padding:15px 50px; font-weight:$semibold; font-size:25px; letter-spacing:1.2px;
            @include borderSet(1px, solid, #666);
            @include borderRadius(5px);
            @include transition;
            &:hover,
            &:focus {color:$white; background-color:$black; border-color:$black;}
        }
    }
    &.white_title {
        strong, h1, p {color:$white;}
        a {
            border-color:#848484; color:$white;
            &:hover,
            &:focus {background-color:$white; color:$gray1; border-color:$white;}
        }
    }
}

//서브 타이틀 작은것들
.small_step_tit {
    font-size:em(60);
    strong {display:block;}
}
.small_step_txt {
    font-size:22px; line-height:30px; font-weight:$regular; padding:em(30) 0 0;
    span {display:block; padding:10px 0 0;}
}

//유튜브 플레이
.video_wrap {
    position:relative;
    .yt_player,
    .img_wrap {
        width:100%; height:100%; position:absolute; top:0; left:0;
        @include backgroundSoltC;
    }
}
.yt_play_btn {
    width:104px; height:104px; position:absolute; top:50%; left:50%; text-indent:-9999px;
    @include borderSet(2px, solid, $white);
    @include borderRadius(100%);
    @include translate(-50%, -50%);
    @include transition;
    &:hover,
    &:focus {
        background-color:$white;
        &:after {border-left-color:$black;}
    }
    &:after {
        width:0; height:0; display:block; content:""; border-left-style:solid; border-left-width:23px; border-left-color:$white;
        border-top:14px solid transparent; border-bottom:14px solid transparent; position:absolute; top:38px; left:44px;
    }
}

//공통 라인업
#bottomLineup {
    padding:110px 120px 0; text-align:center;
    .lineup_wrap {max-width:1480px; margin:0 auto;}
    h1 {font-size:64px; letter-spacing:2.2px;}
    table {
        text-align:center; margin:em(50) 0 0;
        thead {
            th {padding:0 0 em(60);}
            strong {
                line-height:52px; font-size:32px; display:block;
                &.long_txt {line-height:26px; font-size:24px;}
            }
            .img_wrap {
                height:em(165); margin:10px 0 0;
                @include displayFlexCenter;
                img {width:85%;}
            }
            .link_wrap {
                padding:em(30) em(10) 0; line-height:38px; font-weight:$semibold; font-size:22px;
                a {
                    width:80%; height:42px; display:inline-block; color:$gray1; margin:6px 0 0;
                    @include borderSet(1px, solid, #848484);
                    @include boxSizing;
                    @include borderRadius(5px);
                    @include transition;
                    &:first-child {margin:0;}
                    &:hover,
                    &:focus {border-color:$black; background-color:$black; color:$white;}
                }
            }
        }
        tbody {
            font-size:em(20); border-bottom:1px solid $gray4; letter-spacing:.2px;
            tr {
                position:relative;
                &:nth-of-type(odd) th {background-color:#eceef0;}
                &:nth-of-type(odd) td {background-color:#eceef0;}
                &:first-child td {font-size:em(24);}
            }
            th {padding:em(20) 0; font-weight:$semibold;}
            td {
                padding:em(20) 0; border-left:1px solid $gray4;
                em {font-family:"Roboto", sans-serif; font-weight:$regular; font-size:em(16);}
                span {
                    position:relative;
                    &.new_size {
                        &:before {
                            width:27px; height:14px; display:inline-block; content:"NEW"; background-color:#ffe00c; color:$black; font-size:9px; line-height:14px;
                            position:absolute; top:-10px; right:-30px; border:1px solid $gray4; font-weight:$semibold;
                        }
                    }
                }
            }
        }
    }
    p {padding:18px 0 0; color:$gray2; text-align:left; line-height:24px; font-weight:$regular;}
    .partner_logo {margin:75px 0 0;}

    &.lineup_black {
        color:$white; background-color:#111; padding:110px 120px 100px;
        .link_wrap {
            a {
                color:$white;
                &:hover,
                &:focus {border-color:$white; color:$gray1; background-color:$white;}
            }
        }
        tbody {
            font-size:em(20); border-bottom:1px solid #222;
            tr {
                position:relative;
                &:nth-of-type(odd) th {background-color:#191919;}
                &:nth-of-type(odd) td {background-color:#191919;}
            }
            td {border-left-color:#222;}
        }
        p {color:$white;}
    }
    &.lineup_black.color_black {background-color:$black;}
}

//모니터 비교 lcd - oled
.monitor_compare {
    .compare_wrap {
        height:0; padding:0 0 56.75%; background-image:url(../../images/gaming/compare_monitor01.jpg); position:relative; color:$white;
        @include backgroundSolt(0, 0);
    }
    .compare_box {
        width:calc(100% - 22px); height:96.43%; position:absolute; top:1.18%; left:11px; z-index:1; overflow:hidden;
        @include backgroundSolt(0, 50%);
    }
    .lcd_screen {
        width:calc(50% + 64px); height:100%; position:relative; overflow:hidden;
        &:after {width:1px; height:100%; display:block; content:""; position:absolute; right:64px; top:0; background:url(../../images/gaming/compare_line.png) 0 0 repeat-y;}
        .img_wrap {
            width:calc(100% - 64px); height:100%; overflow:hidden; position:relative;
            @include backgroundSolt(0, 50%);
        }
    }
    .oled_txt,
    .lcd_txt {
        position:absolute; top:30px; font-size:34px;
        strong {display:block; white-space:nowrap; font-size:45px;}
    }
    .oled_txt {
        right:40px;
        strong {width:170px; height:30px; text-indent:-9999px; display:block; background:url(../../images/common/lg_logo_icon.png) 0 0 no-repeat; margin:5px 0 0;}
    }
    .lcd_txt {left:40px;}
    .moving_btn {
        width:62px; height:62px; background-color:$white; position:absolute; right:33px; top:50%; margin:-31px 0 0; z-index:2;
        @include borderRadius(100%);
        @include transition(background-color, .3s);
        &:hover {
            background-color:$black;
            &:after {border-color:$gray1;}
            .btn_dot {
                background-color:$white;
                &:before,
                &:after {background-color:$white;}
            }
        }
        &:after {
            width:80px; height:80px; display:block; content:""; position:absolute; top:-9px; left:-9px;
            @include borderRadius(100%);
            @include borderSet(3px, solid, $white);
            @include boxSizing;
            @include transition(border-color, .3s);
        }
        .btn_dot {
            width:4px; height:16px; display:block; position:absolute; top:50%; left:50%; background-color:$gray1;
            @include translate(-50%, -50%);
            @include transition;
            &:before,
            &:after {
                width:4px; height:100%; display:block; content:""; position:absolute; top:0; background-color:$gray1;
                @include transition(background-color, .3s);
            }
            &:before {left:8px;}
            &:after {left:-8px;}
        }
        .btn_arrow {
            width:122px; position:absolute; top:50%; left:50%; margin:-6px 0 0 -61px;
            &:before,
            &:after {
                width:11px; height:11px; display:block; content:""; border-left:2px solid $white; border-bottom:2px solid $white; position:absolute; top:0;
            }
            &:before {
                left:0;
                @include rotate(45);
            }
            &:after {
                right:0;
                @include rotate(225);
            }
        }
    }
}

//팝업 기본
#modalPopup {
    width:100%; height:100%; position:fixed; background-color:rgba(0, 0, 0, 0.8); z-index:150; overflow-y:auto; top:0; left:0; display:none;
    @include opacity(0);
    .popup_container {
        width:700px; background-color:$white; position:relative; left:50%; top:50%; margin:-355px 0 0 -350px;
        .popup_close {
            width:35px; height:35px; position:absolute; top:0; right:-50px; text-indent:-9999px;
            @include transition;
            &:before,
            &:after {width:51px; height:1px; display:block; content:""; background-color:$white; position:absolute; left:-7px;}
            &:before {
                top:17px;
                @include rotate(45);
            }
            &:after {
                bottom:17px;
                @include rotate(-45)
            }
            &:hover,
            &:focus {@include rotate(90);}
        }
    }
}

//스크롤섹션 애니메이션
.js-scr-box {
    @include scrAnimateSet(0, 50px);
}
