@charset "UTF-8";

@import "./_common/base";
@import "./layout";
@import "./main";
@import "./pl";
@import "./pn";
@import "./meridian";

/* common css */

//기본 스타일
input[type=text],
textarea,
select {
    outline:none;
    @include transition(border-color, .2s);
    &:focus { border-color:$gray2 !important;}
}
::selection { background:$gray2; color:$white; text-shadow:none; }
::-moz-selection { background:$gray2; color:$white; text-shadow:none; }
img { vertical-align:top; image-rendering:-webkit-optimize-contrast;}
caption { width:1px; height:1px; overflow:hidden; margin:-1px;}

.dimmed {
    width:100%; height:100%; position:fixed; background-color:$black; display:none; top:0; left:0;
    @include opacity(0);
}

html, body { max-width:100%; min-width:1440px;}
html.no_scroll { overflow:hidden; padding:0 17px 0 0;}

//hidden text
.hidden-txt,
legend {width:0; height:0; overflow:hidden; display:inline-block; text-indent:-9999px; line-height:1px; position:absolute;}

#wrap {position:relative;}
#container {position:relative;}

//스크롤섹션 애니메이션
.js-scr-box {
    @include scrAnimateSet(0, 50px);
}
